* ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

html, body {
    margin: 2.7em 1.7em;
    background-color: #FBFCFF;
    font-family: ManropeT;
    color: #1C1C1D;
    scroll-behavior: smooth;
}

@font-face {
    font-family: ManropeT;
    src: url(manrope-thin.otf);
}

@font-face {
    font-family: ManropeR;
    src: url(manrope-regular.otf);
}

header {
    width: 100%;
    height: 7em;
    clear: both;
}

.pagename {
    float: left;
    font-family: ManropeR;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-left: 4.5em;
}

.othersubj {
    float: right;
    margin-top: 2.4em;
}

.othersubj a {
    color: #1C1C1D;
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    text-align: right;
}

main {
    position: relative;
    width: 100%;
    height: 10em;
}

.toptexts {
    /* margin-top: 2.7em; */
    margin-top: 5em;
    margin-left: 10.95em;
}

table td {
    box-sizing: border-box;
    letter-spacing: 0.05em;
    font-size: 0.7em;
    padding: 0.5em 2em;
    width: 20em;
}

.aboutstay {
    position: absolute;
}

.vdfimgcontainer {
    position: relative;
    top: 6em;
    /* margin-top: 2.9em; */
    width: 100%;
    margin-bottom: 7.5em;
    /* height: 100%; */
    /* background-color: cadetblue; */
}

.headingctnr {
    margin: 27.5em 0;
}

.heading {
    position: relative;
    float: left;
    font-family: ManropeR;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-top: 2.15em;
    margin-left: 4.5em;
}

.mainimgctnr {
    position: relative;
    margin: 1.5em 0;
    width: 34.5vw;
    height: 35vw;
    clear: both;
    /* background-color: rgb(135, 188, 190); */
}

.imgctnr {
    width: 79%;
    height: 100%;

    letter-spacing: 0.05em;
    font-size: 0.7em;
    background-color: rgb(138, 235, 239);
}

.imgtext {
    position: absolute;
    font-size: 0.7em;
    letter-spacing: 0.07em;
    line-height: 7em;
}

        .abs {
            position: absolute;
        }

        .b {
            bottom: 0;
        }

        .r {
            right: -24px;
            text-align: left;
        }

        .l {
            left: -26px;
            text-align: right;
        }

        .fl {
            float: left;
            text-align: right;
        }

        .fr {
            float: right;
            text-align: left;
        }

        /* Line Design Text */
        .liner {
            right: 30px;
            text-align: left;
        }

        .linel {
            left: 28.5px;
            text-align: right;
        }

        /* Shapes Design Text */
        .shaper {
            right: 30.7px;
            text-align: left;
        }

        .shapel {
            left: 30px;
            text-align: right;
        }



        /* Left and Right Variables */
        .l5 {
            left: 5%;
        }

        .l10 {
            left: 10%;
        }

        .l15 {
            left: 15%;
        }

        .l20 {
            left: 20%;
        }
        .l25 {
            left: 25%;
        }
        
        .r5 {
            right: 5%;
        }

        .r10 {
            right: 10%;
        }

        .r15 {
            right: 15%;
        }

        .r20 {
            right: 20%;
        }

        .r25 {
            right: 25%;
        }

        /* Image Sizing */
        .design {
            width: 100%;
            height: 100%;
            flex: 100%;
            object-fit: cover;
        }




.mainstoryctnr {
    position: relative;
    /* top: 6.5em; */
    margin: 1.5em 0;
    top: 2em;
    width: 45vw;
    height: 24vw;
    clear: both;
    /* background-color: rgb(135, 188, 190); */
}

.storytext {
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 7em;
    width: 24em;
    /* background-color: blue; */
}

.storyctnr {
    position: relative;
    width: 80%;
    height: 100%;
    /* top: 5em; */

    letter-spacing: 0.05em;
    font-size: 0.7em;
    /* background-color: rgb(138, 235, 239); */
}


        /* Story Text Spacing */
        .str {
            right: -13.6em;
            text-align: left;
        }

        .stl {
            left: -13.6em;
            text-align: right;
        }

        /* Web Image Sizing */
        .storyimg {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* height: 100%; */
        }

        .storyimgowll { 
            position: absolute;
            left: 0;
            bottom: 0;
            width: 90%;
            height: 90%;
        }

        .storyimgowlr { 
            position: absolute;
            right: 0;
            bottom: 0;
            width: 90%;
            height: 90%;
        }

        .storyvidowlr { 
            position: absolute;
            right: 0;
            bottom: 0;
            height: 92%;
        }

        .storyvidowll { 
            position: absolute;
            left: 0;
            bottom: 0;
            height: 92%;
        }

.pshopimgctnr {
    position: relative;
    margin: 1.5em 0;
    margin-top: 15.5em;
    width: 34.5vw;
    height: 38.7vw;
    clear: both;
}

.photoshopctnr {
    width: 64%;
    height: 100%;
    background-color: blue;
}

.pshoptext {
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 7em;
    width: 24em;
}

        .pshopr {
            right: -8.9em;
            text-align: left;
        }

        .pshopl {
            left: -8.9em;
            text-align: right;
        }

.pshopimg {
    width: 100%;
    height: 100%;
    flex: 100%;
    object-fit: cover;
}

        .mrgn {
            margin-top: 34em;
        }








.vdfwebcontainer {
    position: relative;
    top: 10px;
    top: 3.89em;
    margin: 2.9em 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: cadetblue; */
}

.webheading {
    position: relative;
    float: left;
    font-family: ManropeR;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-left: 4.5em;
}

.mainwebctnr {
    position: relative;
    /* top: 6.5em; */
    margin: 1.5em 0;
    top: 2em;
    width: 45vw;
    height: 24vw;
    clear: both;
    /* background-color: rgb(135, 188, 190); */
}

.webctnr {
    position: relative;
    width: 80%;
    height: 100%;
    top: 5em;

    letter-spacing: 0.05em;
    font-size: 0.7em;
    /* background-color: rgb(138, 235, 239); */
}



.miniwebctnr {
    position: absolute;
    width: 13em;
    height: 9em;
    /* background-color: rgb(22, 124, 128); */
}

.webtext {
    position: absolute;
    font-size: 0.7em;
    letter-spacing: 0.07em;
    line-height: 2.1em;
    width: 13.4em;
    /* background-color: blue; */
}

.webtext2 {
    position: absolute;
    font-size: 0.7em;
    letter-spacing: 0.07em;
    line-height: 7em;
    width: 13.4em;
    /* background-color: blue; */
}

        .webtl {
            left: -2.8em;
            text-align: right;
        }

        .webtr {
            right: -2.8em;
            text-align: left;
        }

        .webfl {
            float: left;
        }

        .webfr {
            float: right;
        }
        
        /* Text w/ Mini Web Images */
        .miniwebtl {
            left: -2.8em;
            top: 12em;
            width: 13.4em;
            text-align: right;
            /* background-color: blue; */
        }

        .miniwebtr {
            right: -2.8em;
            top: 12em;
            width: 13.4em;
            text-align: left;
            /* background-color: blue; */
        }


        /* Mini Web Images */
        .miniwebl {
            left: -5.6em;
        }

        .miniwebr {
            right: -5.6em;
        }

        /* Web Re-Design Mini Image */
        .webrdsgn {
            position: absolute;
            width: 20em;
            height: 13.2em;
            /* background-color: rgb(22, 124, 128); */
        }

        .webrdsgnl {
            left: -12.6em;
        }

        /* Web Re-Design Text */
        .webrdsgntl {
            left: -2.8em;
            top: 6em;
            width: 13.4em;
            text-align: right;
            /* background-color: blue; */
        }



.end {
    position: relative;
    margin-top: 12em;
    width: 100%;
    height: 10em;
    /* background-color: aquamarine; */
}

.endtext {
    float: left;
    font-family: ManropeR;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    margin-left: 4.5em;
    margin-top: 1em;
}

.endlinks {
    position: relative;
}

.backtotop {
    text-decoration: none;
    color: #1C1C1D;
    position: absolute;
    left: 73%;
    /* top: 3.4em; */
    top: 6em;

    font-size: 0.7em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: left;
}

.nextdms {
    text-decoration: none;
    color: #1C1C1D;
    position: absolute;
    right: 0;
    top: 3.4em;

    /* display: block; */
    font-size: 0.7em;
    letter-spacing: 0.05em;
    line-height: 2.5em;
    text-align: right;
}

.totop {
    position: absolute;
    top: 0;
    color: #FBFCFF;
}